  
  .add-page
  {
    width: 98%;
  }

  .container
  {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Results-Content
  {
    width: 100%;
  }

  .Results-Content li 
  {
    list-style: none;
  }

  .Results
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 50px 50px 0px;
  }

  .input-wrapper
  {
    width: 95%;
    padding: 50px;
  }
  
  .input-wrapper input {
    background-color: var(--primary);
    filter: brightness(150%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    color: var(--white);
    font-size: 1.25rem;
  }

  input[type = text]
  {
    width: 25%;
    transition: width 1s;
  }

  input[ type = text ]:focus
  {
    filter: brightness(200%);
    width: 40%;
    outline: none;
  }

  @media (max-width: 700px)
  {
    .Results
    {
      padding: 0px 0px 0px 0px;
    }
    .Results-box
    {
      margin: 0px;
      padding: 0px;
      padding-top: 50px;
    }
  
    .input-wrapper
    {
      width: 100%;
      padding: 0px;
      padding-top: 30px;
    }
    
    .input-wrapper input {
      padding: 10px;
      margin-top: 20px;
      font-size: 1rem;
    }
  
    input[type = text]
    {
      width: 45%;
    }
  
    input[ type = text ]:focus
    {
      width: 70%;
    }
  
  }


  @media (max-width: 361px)
  {
    .add-page
  {
    width: 100%;
  }

  .Results-Content
  {
    width: 100px;
  }

  .Results
  {
    padding: 0px 0px 0px 0px;
  }

  .Results-box
  {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
  }

  .input-wrapper
  {
    width: 100%;
    padding: 0px;
    padding-top: 30px;
  }
  
  .input-wrapper input {
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
  }

  input[type = text]
  {
    width: 45%;
  }

  input[ type = text ]:focus
  {
    width: 70%;
  }

  }